<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>이메일</th>
        <th>주소</th>
      </tr>
      </thead>
      <tbody>
      <!-- members 라는 모델(값이 리스트로 저장되어 있음)안에서 꺼낸 뒤 각각의 값을 출력한다. -->
      <tr th:each="member : ${members}">
        <!-- member 의 id, name을 직접 접근하여 가져온다. -->
        <td><a th:href="@{member/{id}(id=${member.id})}" th:text="${member.id}"></a></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.phone}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.address}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <!--페이징처리 부분-->
  <!-- 태그로 감쌀 필요가 없는 부분을 별도로 감싸서 처리할 때 th:block을 사용함-->
  <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
    <a th:if="${page != nowPage}" th:href="@{/memberlist/(page=${page-1})}" th:text="${page}"></a>
    <strong th:if="${page == nowPage}" th:text="${page}"></strong>  <!-- 눌렀을 때 이동하지 않게 -->
  </th:block>
</div> <!-- /container -->
</body>
</html>